{% extends 'base.html' %}

{% block content %}

<main>

   <section id= "form-container">

        <div id= "logo">
        </div>
        <div class="account-form">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class=button>Create Event</button>
            </form>
        </div>

        <a href="{% url 'user_home' %}">
            <div class = button>
            Home
            </div>
        </a>

    </section>

</main>


{% endblock content %}
