{% extends 'base.html' %}

{% block content %}

<main>

   <section id= "form-container">

        <div id= "logo">
        </div>

        <div class = grid>
            <div>Name:</div>
            <div>{{ event.name }}</div>
            <div>Event Date:</div>
            <div>{{ event.event_date }}</div>
            <div>Number of Guests:</div>
            <div>{{ total_guests }}</div>
        </div>

        <a href="{% url 'guest_list' event.id %}">
            <div class = button>
            Guest List
            </div>
        </a>

        <a href="{% url 'invite' event.id %}">
            <div class="button">View Invitation</div>
        </a>

        <a href="{% url 'edit' event.id %}">
            <div class="button">Edit Event</div>
        </a>

        <a href="{% url 'delete' event.id %}">
            <div class="button">Delete Event</div>
        </a>

        <a href="{% url 'my_events' %}">
            <div class="button">Back to Events List</div>
        </a>

    </section>

</main>

{% endblock content %}
