{% extends 'base.html' %}

{% block content %}

<main>
    <section id= "form-container">
        <div id= "logo">
        </div>
        <h1>{{ event.name }}</h1>
        <section class = "table-container">
            <table>
                <thead>
                    <tr>
                        <th>Guest Name</th>
                        <th>Party of</th>
                    </tr>
                </thead>
                <tbody>
                    {% for guest in guests.all %}
                        <tr>
                            <td>{{ guest.name }}</td>
                            <td>{{ guest.party_of }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <h1> Total Guests : {{ total_guests }}</h1>

        {% if user.is_authenticated %}
            <a href="{% url 'event_details' event.id %}">
                <div class="button">Back to Event</div>
            </a>
            <a href="{% url 'user_home' %}">
                <div class = button>Home</div>
            </a>
        {% else %}
            <a href="{% url 'home' %}"><div id = "bottom-bar"><h1>Host your own event with DidYouRSVP.com</h1></div></a>
        {% endif %}

    </section>
</main>

{% endblock content %}
