{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>

    <section id="form-container">

        <div id= "logo">
        </div>
        <div id="welcome-message">
            <h1>Did You RSVP?</h1>
            <p>Get a headcount on your event so you can be prepared!</p>
        </div>

        <div id="buttons">

            <a href= "{% url 'login' %}">
                <div class="button">
                    Log In
                </div>
            </a>

            <a href= "{% url 'signup' %}">
                <div class="button">
                    Create Account
                </div>
            </a>

        </div>

    </section>

</main>


{% endblock content %}
