{% extends 'base.html' %}

{% block content %}

<main>
    {% if user.is_authenticated %}
    <section id="top-bar">
        <h1> Copy the link in the web browser and send it to those you would like to invite!</h1>
    </section>
    {% else %}
        <a href="{% url 'home' %}"><div id = "bottom-bar"><h1>Host your own event with DidYouRSVP.com</h1></div></a>
    {% endif %}
   <section id= "form-container">

        <div id= "logo">
        </div>
        <h1> You've been invited to {{ event.name }}! </h1>
        <h2>Please confirm your attendance!</h2>
        <div class="account-form">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button class=button>Confirm Attendance</button>
            </form>
        </div>
        {% if user.is_authenticated %}
            <div class = button>
                <a href="{% url 'event_details' event.id %}">Back to Event</a>
            </div>
        {% endif %}

    </section>

</main>

{% endblock content %}
