{% extends 'base.html' %}
{% block content %}

<main>
    <section id= "form-container">
        <div id= "logo"></div>
        <table class="event-table">
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Number of Guests</th>
                </tr>
            </thead>
            <tbody>
                {% for evnt in events.all %}
                    <tr>
                        <td class = button>
                        <a href="{% url 'event_details' evnt.id %}">{{ evnt.name }}</a>
                        </td>

                        <td class = button>
                        <a href="{% url 'guest_list' evnt.id %}">{{ total_guests|get_item:evnt.id }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'create_event' %}">
            <div class="button">Create Event</div>
        </a>

        <a href="{% url 'user_home' %}">
            <div class = button>
            Home
            </div>
        </a>



    </section>
</main>



{% endblock content %}
