{% extends 'base.html' %}

{% block content %}
<main>

    <section id= "form-container">
        <div id= "logo">
        </div>
        <h1>Did You RSVP?</h1>

        <a href="{% url 'my_events' %}">
            <div class="button">My Events</div>
        </a>

        <a href="{% url 'create_event' %}">
            <div class="button">Create Event</div>
        </a>

        <a href="{% url 'logout' %}">
            <div class="button">Log Out</div>
        </a>



    </section>

</main>

{% endblock content %}
